# PROJECT SETTINGS
GIN_MODE=debug
TIME_ZONE=UTC

# DATA BASE
POSTGRES_DB=bank
POSTGRES_USER=bank
POSTGRES_PASSWORD=bank
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SSL_MODE=disable

# HTTP_PORT
HTTP_PORT=8080

# BANK URLS
ALPHA_LOGING_URL=https://private.auth.alfabank.ru/passport/cerberus-mini-blue/dashboard-blue/phone_auth?response_type=code&client_id=newclick-web&scope=openid%20newclick-web&non_authorized_user=true
